<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="static/bootstrap.css">
<link rel="mystyles" href="static/styles.css">
</head>

<section class="container sec">
<br>
  <h1>About</h1>

  <div class="about">

    <h3> Prison Gerrymandering </h3> <p> - the process by which incarcerated people are counted by the Census as residents of the localities where they are incarcerated, instead of the places they are from. Called “gerrymandering” because it affects how districts are drawn, and impacts the balance of political power. </p>

    <br>
    <p> Prison gerrymandering particularly affects representation for communities of color, that face disproportionate levels of incarceration as a result of discriminatory policing and sentencing practices. As shown in my maps, the mostly urban counties with larger black populations are different than the mostly rural counties where prisons are located, and where the majority of the black or nonwhite population in those counties are incarcerated.
      This means that voting power is systematically being taken away from communities of color, and more power per vote is given to rural communities which are mostly white and contain large prisons. This only serves to exacerbate the impact of mass incarceration. It's also reminiscient of the "3/5ths" rule in the slave-owning South, where slaves were counted as 3/5ths of a person, even though they were not permitted to vote, which greatly impacted
      Southern states' population and power in the antebellum period.
    </p>
    <br>
    <p> The maps here seek to show how the counties where people are incarcerated have significantly racial makeups than the counties where these people are most likely initially from. This is why specific counties, like Plumas County in California and Lee County in Illinois, have such large percentages of their black residents as incarcerated.

    <h5> <strong> Examples of impact </strong> </h5>
    <ul>
      <li>60% of Illinois' prisoners are from Cook County (Chicago), yet 99% of them are counted outside the county.

      </li>

      <li>In Texas, one rural district’s population is almost 12% prisoners. Eighty-eight residents from that district, then, are represented in the State House as if they were 100 residents from urban Houston or Dallas.
      </li>

      <li>Prison-based gerrymandering helped the New York State Senate added an extra district in the upstate region. Without using prison populations as padding, seven state senate districts would have to be redrawn, causing line changes throughout the state.
      </li>
    </ul>

    <h5>City Council of Anamosa, Iowa </h5>
    <ul>
      <li> a large prison in Ward 2 gives it a City Council seat, while only representing 58 people, because the Census population is 1,379, a figure that includes 1,321 incarcerated people, who cannot vote, and are most likely not from Ward 2.
      </li>
      <li>Councilman Young, the City Councilman for Ward 2, was elected with only 2 write-in votes.  Councilman Young's district has 58 people, giving his constituents about 25 times as much clout as those in the other wards, which each have around 1,300 non-incarcerated residents.
      </li>
    </ul>
    <br>
    <p> More examples of impact at <a href= https://www.prisonersofthecensus.org/impact.html> Prison Policy Initiative Prison Gerrymandering Project </a>
    </p>

    <h5> <strong> What are the solutions? </strong> </h5>
    <ul>
      <li> States and localities that have taken action: New York and Maryland ruled prison gerrymandering unconstitutional in time for redistricting after the 2010 census. California and Delaware have passed legislation that outlaws prison gerrymandering for the 2020 census.
      </li>
      <li>Maryland’s case was taken to the Supreme Court as Fletcher vs. Lamone <a href=https://www.prisonersofthecensus.org/fletcher/> https://www.prisonersofthecensus.org/fletcher/ </a>
      </li>
      <li>The state’s  No Representation Without Population Act requires that incarcerated individuals be counted at their last known address for redistricting purposes.
      </li>
      <li>The Prison Policy Initiative, linked here, has ways to get involved in campaigning your locality to end prison gerrymandering <a href=https://www.prisonersofthecensus.org/action.html>https://www.prisonersofthecensus.org/action.html</a>
      </li>
      <li>There are solutions that involve petitioning the Census Bureau, individual states, as well as localities. <a href=https://www.prisonersofthecensus.org/solutions.html>https://www.prisonersofthecensus.org/solutions.html </a>
      </li>
    </ul>

    <section id="data">
    <h3>Data</h3>
    <ul>
      <li>Census data on incarcerated individuals taken from <a href = https://www2.census.gov/census_2010/02-Advance_Group_Quarters/>Census 2010 Advanced Group Quarters Summary File</a>
      using the variables <em>QGIJ Population in institutionalized group quarters – juvenile</em> and <em>QGIC-Population in institutionalized group quarters - correctional facilities</em>.
      </li>

      <li> Data on where people are incarcerated are from, compiled by the <a href = https://www.prisonersofthecensus.org/data/> Prison Policy Initiative </a>
        raw data <a href = https://www.prisonersofthecensus.org/data/2010/correctional_blocks_by_race_2010.csv> here</a>.
      </li>

      <li> County by county shapefile from <a href= https://www.census.gov/geo/maps-data/data/cbf/cbf_counties.html>Census </a>
      </li>

      <li> Spreadsheets joined and edited using Excel and SQL.
      </li>

    </ul>
    </section>


    <h3>Additional Resources</h3>
    <ul>

      <li><a href=http://www.huffingtonpost.com/entry/prison-gerrymandering-rhode-island_us_5744a524e4b0452a92e1fa55>Rhode Island's Landmark Prison Gerrymandering Case </a>    </li>
      <li><a href=https://www.washingtonpost.com/opinions/beginning-of-the-end-for-prison-based-gerrymandering/2012/07/13/gJQAJP7fiW_story.html> Opinion Piece in the Washington Post on Prison Gerrymandering</a>    </li>
      <li><a href=http://www.demos.org/publication/implementing-reform-how-maryland-new-york-ended-prison-gerrymandering> Policy Paper by Demos on How Maryland and New York outlawed Prison Gerrymandering </a>    </li>
  </ul>



  </div>

  <div class="row">
  <div class="col-1 menu">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ul>
      <li><a href="/">Main</a></li>
      <li><a href="mailto:eglem@stanford.edu">Contact</a></li>
    </ul>
  </div>

</section>

</html>
